luac.out

*.src.rock
*.zip
*.tar.gz

*.o
*.os
*.ko
*.obj
*.elf

*.gch
*.pch

*.lib
*.a
*.la
*.lo
*.def
*.exp

*.dll
*.so
*.so.*
*.dylib

*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

.netrwhist
**/undodir/
**/shada/
**/swap/
**/backup/
**/view/

lazy-lock.json
lazyvim.json

.mason/
.language-servers/

*.log
log/
logs/

.cache/
cache/

Session.vim
Sessionx.vim

*.swp
*.swo
*~
*.tmp

tags
tags.*
.tags
.tags.*
TAGS
GTAGS
GRTAGS
GPATH

.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
